<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Quyền lưu file / đọc ảnh (Android sẽ merge vào app cha) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Cho Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
</manifest>
